<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>URL</title>
</head>
<body>
    <a th:href="@{http://www.baidu.com}">绝对路径1</a>
    <a href="http://www.baidu.com">绝对路径2</a>
    <hr>
    <a th:href="@{/show}">相对路径</a> <!--相对于当前项目的根-->
    <a th:href="@{~/project2/resourcename}">相对于服务器的根</a>
    <hr>
    <a th:href="@{/show(id=1,name=zhangsan)}">相对路径-传参</a>
    <hr>
    <!--<a th:href="@{/show2/{id}/">相对路径-传参</a>-->

</body>
</html>