<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>展示用户数据</title>
</head>
<body>
    <table border="1" style="width: 300px;">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>更新</th>
            <th>删除</th>
        </tr>

        <tr th:each="user : ${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <a th:href="@{/users/findUserById(id=${user.id})}">更新用户</a>
            </td>

            <td>
                <a th:href="@{/users/deleteUserById(id=${user.id})}">删除用户</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/users/input}">添加用户</a>
</body>
</html>